<ion-header collapse="fade">
	<ion-toolbar>
		<ion-title>{{item.Name}}</ion-title>

		<ion-buttons slot="primary">
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
	<form [formGroup]="formGroup">
		<ion-grid fixed>
			<ion-row>
				<ion-col size="12" size-sm="12" size-md="6">
					<div class="c-control">
						<label class="c-label" for="Code"
							>{{'Account' | translate}}
							<span
								*ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>
						<input class="c-input" id="Code" formControlName="Code" type="text" />
					</div>
					<div class="c-control">
						<label class="c-label" for="Name"
							>{{'Account name' | translate}}
							<small *ngIf="item.Id">Id: {{item.Id}}</small>
							<span
								*ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>
						<input class="c-input" id="Name" formControlName="Name" type="text" />
					</div>

					<div class="c-control">
						<label class="c-label" for="IDParent"
							>{{'Thuộc tài khoản' | translate}}
							<span
								*ngIf="!formGroup.controls.IDParent.valid && !formGroup.controls.IDParent.pending && (formGroup.controls.IDParent.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>

						<select class="c-input c-dropdown" formControlName="IDParent">
							<option [disabled]="t.flag" *ngFor="let t of glList" [value]="t.Id">{{t.Name}}</option>
						</select>
					</div>

					<div class="c-control">
						<label class="c-label" for="IDBranch"
							>{{'Belonged to unit' | translate}}
							<span
								*ngIf="!formGroup.controls.IDBranch.valid && !formGroup.controls.IDBranch.pending && (formGroup.controls.IDBranch.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>

						<select class="c-input c-dropdown" formControlName="IDBranch">
							<option *ngFor="let t of env.branchList" [value]="t.Id">{{t.Name}}</option>
						</select>
					</div>
				</ion-col>
				<ion-col size="12" size-sm="12" size-md="6">
					<div class="c-control">
						<label class="c-label" for="ExternalCode"
							>{{'ExternalCode' | translate}}
							<span
								*ngIf="!formGroup.controls.ExternalCode.valid && !formGroup.controls.ExternalCode.pending && (formGroup.controls.ExternalCode.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>
						<input class="c-input" id="ExternalCode" formControlName="ExternalCode" type="text" />
					</div>
					<div class="c-control">
						<label class="c-label" for="ForeignName"
							>{{'Foreign Name' | translate}}
							<span
								*ngIf="!formGroup.controls.ForeignName.valid && !formGroup.controls.ForeignName.pending && (formGroup.controls.ForeignName.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>
						<input class="c-input" id="ForeignName" formControlName="ForeignName" type="text" />
					</div>

					<div class="c-control">
						<label class="c-label" for="Remark"
							>{{'Description' | translate}}
							<span
								*ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)"
								ion-text
								color="danger"
								>(*)</span
							>
						</label>
						<textarea rows="3" class="c-input remark" id="Remark" formControlName="Remark" type="textarea"></textarea>
					</div>

					<div class="c-control">
						<span class="no-warp">
							<input id="IsActiveAccount1" type="radio" [value]="true" formControlName="IsActiveAccount" class="c-checkbox" />
							<label class="c-label radio" for="IsActiveAccount1">
								<span>{{'Account' | translate}}</span>
							</label>
						</span>
						<span class="no-warp">
							<input id="IsActiveAccount2" type="radio" [value]="false" formControlName="IsActiveAccount" class="c-checkbox" />
							<label class="c-label radio" for="IsActiveAccount2">
								<span>{{'Parent account' | translate}}</span>
							</label>
						</span>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>

		<!-- <div class="c-control" *ngIf="item.Id">
            <label class="c-label" for="Code">Id</label>
            <input readonly class="c-input" id="Id" formControlName="Id" type="text">
        </div> -->

		<!-- <div class="c-control">
            <label class="c-label" for="Code">Mã trung tâm
                <span
                    *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)"
                    ion-text color="danger">(*)</span>
            </label>
            <input class="c-input" id="Code" formControlName="Code" type="text">
        </div> -->
	</form>
</ion-content>
<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="start">
			<ion-button fill="outline" *ngIf="item.Id && pageConfig.canDelete" (click)="delete()" color="danger"> {{'Delete' | translate}} </ion-button>
		</div>

		<div slot="end">
			<ion-button fill="outline" *ngIf="!item.Id" color="warning" (click)="closeModal()"> {{'Cancel' | translate}} </ion-button>
			<ion-button fill="outline" *ngIf="item.Id && pageConfig.canEdit" (click)="refresh()" color="warning" [disabled]="!formGroup.dirty">
				{{'Discard changes' | translate}}
			</ion-button>
			<ion-button [strong]="true" *ngIf="(pageConfig.canAdd || pageConfig.canEdit)" (click)="saveChange()" [disabled]="!formGroup.dirty"> {{'Save' | translate}} </ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
