<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-hide-sm-down_">
      <ion-button color="dark" class="ion-hide-sm-down"> {{'Posting period category' | translate}} </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">

      <ion-button title="{{'Help' | translate}}" (click)="help()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>

      <ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="header-table">
  <ion-grid fixed class="grid-parent">
    <ion-row>
      <ion-col size="12">
        <div class="ion-padding" style="min-width: 300px">
          <app-page-message [itemsLength]="1" [showSpinner]="pageConfig.showSpinner"></app-page-message>
          <div class="main-view" *ngIf="pageConfig.showSpinner == false">
            <div class="row-full shadow full-screen ion-padding">
              <ion-grid fixed class="grid-child">
                <div>
                  <div class="ion-padding">
                    <ion-grid fixed>
                      <form [formGroup]="formGroup">
                        <ion-row class="hr-group">
                          <ion-col size="12" size-md="12" size-lg="12" size-xl="3">
                            <ion-list-header class="ion-no-padding"> </ion-list-header>
                          </ion-col>
                          <ion-col size="12" size-md="12" size-lg="12" size-xl="6">
                            <div class="c-control">
                              <label class="c-label"> {{'Fiscal year' | translate}} </label>
                              <select
                                class="c-input c-dropdown"
                                formControlName="FinancialYear"
                                (change)="changeFinancialYear()"
                              >
                                <option *ngFor="let t of financialYearList" [value]="t.Code">{{t.Name}}</option>
                              </select>
                            </div>
                            <app-form-control
                              [field]="{id:'FinancialYearFirstDate', label: 'Start of Fiscal Year', type : 'date', placeholder: 'yyyy-MM-dd', form : formGroup }"
                              (change)="saveChange()"
                            >
                            </app-form-control>

                            <app-form-control
                              [field]="{id:'Code', label: 'Period code', type : 'text', form : formGroup }"
                              (change)="changeCode()"
                            >
                            </app-form-control>

                            <app-form-control
                              [field]="{id:'Name', label: 'Period name', type : 'text', form : formGroup }"
                              (change)="saveChange()"
                            >
                            </app-form-control>

                            <app-form-control
                              [field]="{id:'PostingPeriodType', label: 'Sub-Period', type : 'select', form : formGroup,  dataSource: periodTypeDataSource,  bindLabel: 'Name',  bindValue: 'Code' }"
                              (change)="changePostingPeriodType()"
                            >
                            </app-form-control>

                            <app-form-control
                              [field]="{id:'NumberOfPeriods', label: 'No. of period', type : 'span-number', form : formGroup }"
                              (change)="saveChange()"
                            >
                            </app-form-control>
                          </ion-col>
                        </ion-row>
                      </form>
                    </ion-grid>
                  </div>
                </div>
              </ion-grid>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
